
<div class="container pad20">

  <h1 class="text-underline text-brand">Delicious cocktails</h1>

  <div class="row">

    <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">

        <div class="card-description">
          <h2> <%= cocktail.name  %> </h2>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>


  <div class="pad10">
    <%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-primary pad20" %>
  </div>

</div>
