<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.dineout.co.in/blog/wp-content/uploads/2016/12/Mumbai-blog-banner-1400x400px.jpg);">
  <div class="container">
    <h1>Welcome <strong>Cocktails</h1>
    <p>Where you can make your drinks and chill</p>
  </div>
</div>

